:root {
    --grisoscuro: #070707;
    --naranja: #ff4000;
    --naranja-oscuro: #ff2e1b;
    --celeste-claro: #008cff;
    --celeste-oscuro: #1c3dff;
    --blanco-hueso: #f4f4f4;
}

main {
    background: var(--grisoscuro);
}

.banner {
    padding-bottom: 20px;
    position: relative;
}

.span-video {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7em;
    font-weight: 500;
    background: var(--blanco-hueso);
    padding: 5px 15px;
    border-radius: 50px;
    transition: 0.4s ease;
}

.span-video.hide {
    opacity: 0;
    visibility: 0;
    margin-top: 15px;
}

.span-video:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: var(--blanco-hueso);
}

.banner-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-video video {
    border-radius: 10px;
    width: 90%;
}

main .division-back {
    background: var(--blanco-hueso);
}

main .division .icon {
    background: #000;
    color: var(--blanco-hueso);
}

.history {
    padding: 100px 0;
}

.history h2 {
    color: var(--blanco-hueso);
    font-size: 1.9em;
    animation: opacity 1s ease forwards;
}

.history-container {
    width: 90%;
    margin: auto;
}

.timeline-container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
}

.time-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
}

.time-icon {
    min-width: 30px;
    text-align: center;
    height: 100%;
    display: block;
    font-size: 1em;
    color: var(--blanco-hueso);
    margin-top: 140px;
}

.time-des {
    position: relative;
}

.time-des:after {
    content: "";
    background: var(--blanco-hueso);
    width: 2px;
    height: 98%;
    top: 175px;
    left: -16px;
    border-radius: 100px;
    position: absolute;
}

.time-card:last-child .time-des::after {
    content: "";
    background: none;
    width: 0px;
    height: 0%;
    top: 0px;
    left: 0px;
    border-radius: 0px;
    position: absolute;
}

.time-des img {
    border-radius: 10px;
    box-shadow: 4px 10px 40px -6px rgba(0, 0, 0, .2);
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.time-des h3 {
    margin-top: -40px;
    font-size: 3.8em;
    font-weight: 900;
    letter-spacing: 6px;
    margin-left: 20px;
    color: #fff;
    text-shadow: 2px 2px 35px rgba(0, 0, 0, 0.7);
}

.time-des p {
    width: 100%;
    text-align: left;
    margin-left: 5px;
    line-height: 1.6;
    font-size: 1em;
    font-weight: 400;
    color: var(--blanco-hueso);
}

.about-us {
    padding-top: 70px;
    padding-bottom: 120px;
    background: #fff;
}

.about-us p {
    font-size: 1em;
    position: relative;
    z-index: 300;
    text-align: left;
    width: 100%;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    opacity: 0.7;
}

.about,
.about-card {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 4px 10px 40px -6px rgba(0, 0, 0, 0.15);
    max-width: 430px;
}

.about-us-container h2 {
    text-align: left;
    width: 100%;
    font-size: 2em;
    color: #000;
    position: relative;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 15px;
}

.about img {
    width: 140px;
    margin-bottom: 10px;
}

.mision h2,
.vision h2,
.goal h2 {
    padding-bottom: 0;
}

.about-card .icon {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 3px solid rgb(220, 220, 220);
    font-size: 1.1em;
    color: var(--naranja-oscuro);
}

.about h2::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 5px;
    border-radius: 100px;
    background: var(--naranja-oscuro);
    width: 150px;
}

.values h2 {
    width: 100%;
    font-size: 1.1em;
    font-weight: 700;
    color: #000;
}

.values-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.values-cards {
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    max-width: 300px;
}

.value-icon {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 15px;
}

.value-icon .icon {
    display: inline-block;
    transition: 0.2s ease;
}

.love {
    background: #ff000018;
    color: #f02222;
}

.empathy {
    background: #008cff18;
    color: var(--celeste-claro);
}

.goodness {
    background: #ffe10018;
    color: #eeb421;
}

.solidarity {
    background: #00ff0818;
    color: #42e147;
}

.transparency {
    background: #00000010;
    color: #636363;
}

.value-des h3 {
    font-size: 1.5em;
}

.value-des p {
    text-align: center;
    font-size: 1em;
}

.help {
    padding-top: 60px;
    background: var(--blanco-hueso);
}

.help .help-container-card {
    padding-bottom: 25px;
}

.ways {
    margin-top: 50px;
    padding-bottom: 170px;
    margin-bottom: -50px;
}

.ways h3 {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1.3em;
}

.ways h3 span {
    display: block;
}

.ways-container {
    width: 85%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.w-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    max-width: 350px;
}

.w-card .w-icon {
    font-size: 2.8em;
}

.w-card.money {
    color: #20c725;
    background: #1fff011c;
}

.w-card.academy {
    background: #1764a314;
    color: var(--celeste-oscuro);
}

.w-card.shopping {
    background: #ffcc0218;
    color: #f3c81d;
}

.w-card.pray {
    background: #f0222210;
    color: #f3681d;
}

.w-card.medicine {
    background: #008cff1a;
    color: var(--celeste-claro);
}

.w-card.job {
    background: #00000009;
    color: #222;
}

.w-card h3 {
    font-size: 1.6em;
    width: 100%;
    font-weight: 600;
    text-align: left;
    margin-top: 10px;
}

.w-card p {
    text-align: left;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
}

.w-card span {
    display: block;
}

@media screen and (min-width:760px) {
    .help h2~p {
        width: 90%;
    }
    .history {
        padding-bottom: 200px;
    }
    .history h2 {
        font-size: 2.5em;
    }
    .timeline-container {
        width: 80%;
        max-width: 850px;
    }
    .time-des img {
        height: 400px;
    }
    .time-des p {
        font-size: 1.2em;
    }
    .time-des h3 {
        font-size: 5em;
        margin-top: -60px;
    }
    .time-icon {
        font-size: 1.4em;
        margin-top: 215px;
        min-width: 65px;
    }
    .time-des:after {
        height: 97%;
        top: 255px;
        left: -33px;
    }
    .about-card {
        font-size: 1.2em;
        padding: 35px;
        max-width: 600px;
    }
    .about img {
        width: 150px;
    }
    .mision,
    .vision,
    .goal {
        padding-top: 80px;
    }
    .ways h3 {
        font-size: 1.6em;
    }
    .ways-container {
        width: 90%;
        max-width: 850px;
    }
    .w-card {
        max-width: 47%;
        margin: 10px;
        padding: 25px;
    }
}

@media screen and (min-width:1000px) {
    .history {
        padding-bottom: 240px;
    }
    .history h2 {
        font-size: 3em;
    }
    .banner-video video {
        width: 75%;
        cursor: pointer;
        border-radius: 15px;
    }
    .time-des img {
        height: 450px;
    }
    .about-us {
        padding-bottom: 180px;
        padding-top: 100px;
    }
    .about-us-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(14, 50px);
        gap: 20px;
        width: 90%;
        margin: auto;
        max-width: 1300px;
        padding: 0;
        margin: 0 auto;
    }
    .about-card {
        margin: 0;
        width: 100%;
        padding: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        position: relative;
    }
    .about-card .icon {
        margin-right: 15px;
        padding-right: 15px;
        font-size: 1.25em;
        border-width: 4px;
    }
    .about-card p {
        margin-top: 20px;
    }
    .about {
        grid-column: 1 / 2;
        grid-row: 1 / 7;
    }
    .goal {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
    }
    .mision {
        grid-column: 2 / 3;
        grid-row: 5 / 13;
    }
    .vision {
        grid-column: 1 / 2;
        grid-row: 7 / 13;
    }
    .values-container {
        margin-top: 60px;
    }
    .values h2 {
        font-size: 1.7em;
        margin-bottom: 30px;
    }
    .value {
        margin-bottom: 50px;
    }
    .value:hover .icon {
        transform: scale(1.1);
    }
    .ways h3 {
        font-size: 2em;
    }
    .w-card {
        width: 285px;
    }
    .w-card h3 {
        font-size: 1.7em;
    }
    .ways {
        margin-top: 50px;
        padding-bottom: 200px;
    }
    .ways-container {
        margin-top: 50px;
        max-width: 1300px;
    }
}

@media screen and (min-width:1300px) {
    .history {
        padding-top: 120px;
    }
    .history h2 {
        font-size: 4em;
    }
    main .division {
        width: 70%;
    }
    .timeline-container {
        width: 80%;
        max-width: 1100px;
    }
    .time-des img {
        height: 530px;
    }
    .time-des h3 {
        font-size: 8em;
        letter-spacing: 15px;
        margin-top: -90px;
        margin-left: 50px;
    }
    .time-des p {
        font-size: 1.4em;
        line-height: 1.8;
    }
    .time-icon {
        font-size: 1.7em;
        margin-top: 250px;
        min-width: 65px;
    }
    .time-des:after {
        height: 95%;
        top: 305px;
        left: -33px;
    }
    .about-card p {
        font-size: 1.2em;
    }
    .about {
        grid-row: 1 / 8;
    }
    .goal {
        grid-row: 1 / 6;
    }
    .mision {
        grid-row: 6 / 14;
    }
    .vision {
        grid-row: 8 / 14;
    }
    .values-cards {
        max-width: 1300px;
    }
    .value {
        max-width: 380px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .value-icon {
        width: 150px;
        height: 150px;
        font-size: 4em;
    }
    .value h3 {
        font-size: 1.8em;
    }
    .value-des p {
        font-size: 1.35em;
    }
    .w-card {
        width: 350px;
    }
}