:root {
    --grisoscuro: #070707;
    --naranja: #ff4000;
    --naranja-oscuro: #ff2e1b;
    --celeste-claro: #008cff;
    --celeste-oscuro: #1c3dff;
    --blanco-hueso: #f4f4f4;
}

main {
    background: #000;
}

.banner {
    position: fixed;
    top: 49px;
    z-index: 100;
    background: #000;
    width: 100%;
}

.banner-video::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 180px;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    background: linear-gradient(to top, #000000, #00000000);
}

.header-container-donate {
    display: none;
}

.banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-title {
    margin-top: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: opacity forwards 1s ease;
}

.banner-h1 {
    color: #fff;
    text-shadow: 4px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    font-size: 2.8em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.banner-h1 span {
    display: block;
    text-align: center;
}

.banner-h1 span:first-child {
    font-size: 0.8em;
}

.banner-division {
    display: inline-block;
    height: 3px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.3);
    width: 90%;
    margin: 7px auto;
}

.banner-h2 {
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    font-weight: 600;
    text-align: center;
    width: 90%;
    font-size: 1.3em;
    text-transform: uppercase;
    word-spacing: 2px;
}

.banner-video img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    opacity: 0.85;
    filter: saturate(1.7);
}

.banner-video {
    position: relative;
    animation: opacity forwards 1s 0.3s ease;
    opacity: 0;
}

.methods {
    margin-top: 530px;
    position: relative;
    z-index: 500;
    padding-top: 50px;
    padding-bottom: 150px;
}

.methods-container {
    width: 92%;
    margin: auto;
    margin-top: -160px;
    max-width: 415px;
}

.method {
    background: var(--blanco-hueso);
    border-radius: 10px;
    padding: 22px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 10px 40px -6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 2000;
}

.method.credit-card .back {
    text-align: left;
    text-decoration: 1px var(--celeste-claro);
    color: var(--celeste-claro);
    font-size: 0.8em;
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 500;
    transition: 0.1s ease;
}

.method.credit-card .back .icon {
    font-size: 0.8em;
    transition: 0.2s ease;
}

.method.credit-card .back:active {
    transform: scale(0.98);
}

.method.credit-card,
.method.paypal {
    opacity: 0;
    animation: ShowUp 0.7s 0.4s ease forwards;
}

.method .title {
    padding-bottom: 15px;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-weight: 600;
}

.method .step {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    opacity: 0;
}

.method .step.active {
    opacity: 1;
    animation: ShowUp 0.4s ease forwards;
    z-index: inherit;
    position: relative;
    pointer-events: auto;
}

.method .icon-title .icon {
    color: var(--naranja-oscuro);
    margin-right: 5px;
}

.method .content .paragraph {
    text-align: left;
    font-weight: 500;
    font-size: 1em;
    width: 100%;
    line-height: 1.6;
    opacity: 0.7;
    padding: 3px;
}

.method.credit-card .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.method.credit-card .cards {
    display: flex;
    align-items: center;
}

.method.credit-card .cards img {
    max-width: 35px;
    margin-left: 5px;
}

.method.credit-card .form {
    padding: 0;
    width: 100%;
    margin-top: 18px;
}

.select-group,
.name-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.select-group .form-control.input-subject,
.select-group .form-control.input-subject select {
    width: 100%;
}

.first-select .form-control.input-subject select {
    font-size: 0.8em;
}

.select-group .arrow-icon {
    top: 26px;
}

.name-group .form-control:first-child {
    margin-right: 10px;
}

.select-group .form-control.input-subject:first-child,
.card-group .form-control.input-month,
.card-group .form-control.input-year {
    margin-right: 5px;
    margin-left: 0;
}

.card-group .form-control select {
    min-height: 43px;
}

.form-control.input-radio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.form-control.input-radio .option {
    position: relative;
}

.form-control.input-radio .radio-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    color: rgb(116, 116, 116);
    margin: 0px;
    height: 90px;
    border-radius: 6px;
    border: 2px solid rgb(233, 233, 233);
    background: #fff;
    transition: all 300ms ease;
}

.form-control.input-radio .radio-label b {
    font-size: 0.65em;
    display: inline-block;
    margin-right: 4px;
    margin-top: 4px;
    font-weight: 500;
    font-style: normal;
}

.input-radio [type="radio"] {
    display: none;
}

.input-radio [type="radio"]:checked~.radio-label {
    border-color: #008cff80;
    background-color: rgba(97, 154, 234, 0.1);
    color: var(--celeste-claro);
}

.input-radio [type="radio"]:checked~.radio-label>span {
    will-change: transform;
    border: 0;
    background: var(--celeste-claro);
    animation: radio 400ms cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

.input-radio [type="radio"]:checked~.radio-label>span:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
}

.form-control.input-radio .other-amount .radio-label {
    font-size: 0.75em;
    padding: 30px 10px;
}

.form-control.input-radio .radio-label>span {
    position: absolute;
    top: 7px;
    left: 7px;
    display: inline-flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #c7c4c4;
    background: #cdced5;
}

.form-control.input-radio .other-amount label::before,
.form-control.input-radio .option:last-child label::before {
    display: none;
}

.form-control.input-radio .personalized-amount {
    display: none;
    grid-column: 1 / 4;
}

.form-control.input-radio .personalized-amount.active {
    display: block;
}

.form-control.input-radio .personalized-amount label {
    font-size: 0.9em;
    color: var(--grisoscuro);
    width: 100%;
    background: none;
    border: none;
    display: block;
    text-align: left;
    height: auto;
    margin-left: 0;
    pointer-events: none;
}

.form-control.input-radio .personalized-amount b {
    position: absolute;
    display: inline-block;
    opacity: 0.4;
    font-size: 0.9em;
    top: 12px;
    left: 13px;
    pointer-events: none;
}

.form-control.input-radio .personalized-amount input {
    padding-left: 32px;
    max-width: 100%;
    border: 2px solid rgb(233, 233, 233);
}

.form-control.input-radio.error .personalized-amount input {
    border-color: #e74c3c;
}

.form-control.input-radio.success .personalized-amount input {
    border-color: #2ecc71;
}

.form-control.input-radio .inputIcon {
    top: 13px;
}

.form-control.input-radio small {
    bottom: -15px;
}

.input-terms p {
    font-size: 0.95em;
}

.method.credit-card .form button {
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
    padding: 12px;
    border-radius: 7px;
    font-size: 0.9em;
}

.method.credit-card .form-control.input-year .arrow-icon {
    top: 8px;
}

.method.credit-card .form-control.input-ccv-card {
    min-width: 33%;
}

.method.credit-card .form-control.input-ccv-card small {
    width: max-content;
}

.small-card {
    position: absolute;
    width: 45px;
    top: 28px;
    right: 8px;
}

.input-ccv-card>label {
    width: auto;
    display: inline-block;
}

.info-ccv {
    display: inline-block;
    position: relative;
}

.info-ccv .icon:hover~span {
    transform: none;
    opacity: 1;
    z-index: 500;
}

.info-ccv span {
    position: absolute;
    top: -52px;
    width: 240px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: rgb(90, 90, 90);
    font-size: 0.8em;
    display: inline-block;
    right: -33px;
    background: var(--blanco-hueso);
    transform: translateY(10px);
    transition: 0.3s ease;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
    opacity: 0;
    z-index: -1;
}

.info-ccv span::after {
    content: "";
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    background: var(--blanco-hueso);
    position: absolute;
    bottom: -4px;
    right: 33px;
}

.input-ccv-card .icon {
    font-size: 1.1em;
    opacity: 0.3;
    display: inline-block;
    margin-left: 5px;
}

.total-donation {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-bottom: 20px;
    padding: 5px;
}

.total-img {
    width: 19%;
    margin-right: 18px;
}

.total {
    color: var(--celeste-claro);
    font-weight: 500;
    margin-bottom: 3px;
}

.total-amount,
.total-currency {
    font-size: 1.7em;
    font-weight: 700;
}

.total-frequency {
    display: block;
    width: 100%;
    font-size: 0.85em;
    opacity: 0.7;
    font-weight: 600;
    margin-top: 3px;
}

.safe {
    color: #08b533;
    font-weight: 500;
    text-align: center;
    font-size: 0.7em;
    margin: auto;
    margin-top: 10px;
}

.safe .icon {
    font-size: 0.8em;
    margin-right: 5px;
}

.current-info {
    opacity: 0;
    margin-top: 0px;
    height: 0;
    transition: opacity, margin-top 0.3s ease;
}

.current-info.active {
    height: auto;
    margin-top: 10px;
    opacity: 1;
}

.current-info p {
    width: 100%;
    font-size: 0.6em;
    font-weight: 500;
    margin: 0;
    transition: 0.5s 0.2s ease;
    opacity: 0;
}

.current-info .icon {
    opacity: 0.7;
    font-size: 0.9em;
}

.current-info.active p {
    opacity: 0.5;
}

.current-cancel {
    display: block;
}

.method .content {
    position: relative;
}

.method.paypal form {
    margin-top: 30px;
}

.donate-paypal a {
    display: block;
    font-style: italic;
    width: 100%;
    text-align: center;
    padding: 12px;
    border-radius: 7px;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 800;
    background: #F7BE37;
    color: #193580;
    box-shadow: 2px 10px 20px -6px rgba(0, 0, 0, 0.1);
    transition: 0.1s ease;
}

.donate-paypal a:active {
    transform: scale(0.96);
}

.method.banks .content p {
    margin-bottom: 20px;
}

.bank a {
    display: block;
    margin-top: 15px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    text-decoration: none;
    color: #000;
    box-shadow: 6px 10px 20px -6px rgb(0 0 0 / 10%);
}

.bank .type {
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: 500;
    background: #2ecc7120;
    color: #2ecc71;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}

.bank-img img {
    width: 140px;
    margin-bottom: 10px;
}

.bank-number {
    padding-top: 10px;
    border-top: 2px solid rgba(68, 68, 68, 0.2);
    width: 90%;
    opacity: 0.8;
}

.bank-number h3 {
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: 600;
}

.method.product a,
.method.sponsor a {
    margin-top: 20px;
    background: var(--celeste-oscuro);
    color: #fff;
    font-weight: 500;
    padding: 14px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
}

.method.product a .icon,
.method.sponsor a .icon {
    font-size: 0.75em;
}

.method.banks .bank-number p {
    margin: 0;
    width: 100%;
    letter-spacing: 2px;
    text-align: left;
    opacity: 0.7;
    font-size: 1em;
    font-weight: 500;
}

.method.product .img {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.method.sponsor .img {
    transform: scale(1.15);
}

.why-donate {
    background: var(--blanco-hueso);
    position: relative;
    z-index: 400;
    padding-top: 80px;
    padding-bottom: 130px;
    margin-top: 30px;
}

.why-donate::after {
    content: "";
    position: absolute;
    top: -399px;
    left: 0;
    height: 400px;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    background: linear-gradient(to top, #f6f6f6, #f6f6f600);
}

.why-donate .more {
    margin-top: 20px;
}

.why-content {
    margin-top: 50px;
}

.why-h3 {
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 80%;
    opacity: 0.8;
    padding-bottom: 15px;
    border-bottom: 2px solid #e6e6e6;
}

.share {
    background: #000;
    z-index: 1000;
    padding-top: 70px;
}

.why-card-share {
    margin: auto;
    width: 90%;
    position: relative;
    z-index: 800;
    color: var(--blanco-hueso);
}

.why-card-share p {
    max-width: 500px;
    margin: auto;
    font-weight: 300;
    font-size: 0.95em;
    margin-top: 10px;
    width: 95%;
}

.why-card-img {
    position: relative;
    margin-bottom: -50px;
    z-index: 100;
    margin-top: -100px;
    height: 500px;
    background: url(../img/personas.jpg);
    background-size: cover;
    background-position: 45%;
    z-index: 100;
}

.why-card-img:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: 250px;
    width: 100%;
    z-index: 300;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.why-card-share h3 {
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.why-card-share span {
    font-weight: 700;
    display: block;
    font-size: 2.3em;
}

#copy-msg {
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in;
}

.copy-show {
    z-index: 3000 !important;
    opacity: 1 !important;
}

#copy-msg span {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 20px;
    background: var(--celeste-claro);
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.452);
    box-shadow: 2px 10px 20px -10px rgba(0, 0, 0, 0.911);
    font-weight: 500;
}

.share-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-donate {
    margin-top: 15px;
    background: #b2dcff;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    color: var(--celeste-oscuro);
    transition: 0.1s ease;
    display: inline-block;
    cursor: pointer;
}

.share-donate .icon {
    font-size: 0.9em;
    margin-right: 3px;
}

@media screen and (min-width:420px) {
    .banner-title {
        font-size: 1.1em;
    }
    .method {
        padding: 25px;
    }
    .method .title {
        font-size: 1.1em;
    }
    .method.credit-card .cards img {
        max-width: 40px;
        margin-left: 7px;
    }
    .why-h3 {
        font-size: 1.65em;
    }
    .form-control.input-radio .radio-label {
        font-size: 1.5em;
    }
    .why-card-share h3 {
        font-size: 1.3em;
    }
    .why-card-share span {
        font-size: 2.5em;
    }
    .why-card-share p {
        font-size: 1em;
    }
}

@media screen and (min-width:760px) {
    .banner-h1 {
        font-size: 3.8em;
        line-height: 1;
    }
    .banner-h2 {
        font-size: 1.7em;
    }
    .banner-division {
        height: 5px;
        margin: 10px auto;
    }
    .banner-video img {
        height: 680px;
    }
    .methods-container {
        max-width: 500px;
    }
    .method .content .paragraph {
        font-size: 1.15em;
        padding: 4px;
        margin-top: 15px;
    }
    .method .title {
        font-size: 1.25em;
    }
    .method.credit-card .cards img {
        max-width: 50px;
    }
    .method.credit-card .form {
        width: 95%;
    }
    .form-control.input-radio {
        gap: 15px;
    }
    .form-control.input-radio .radio-label {
        font-size: 1.7em;
    }
    .form-control.input-radio .other-amount .radio-label {
        font-size: 1em;
        padding: 30px 20px;
    }
    .method.credit-card .form button {
        padding: 14px;
        font-size: 1em;
    }
    .current-info p {
        font-size: 0.65em;
    }
    .method.paypal form {
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
    .bank a {
        width: 95%;
        margin: auto;
        margin-bottom: 15px;
    }
    .method.product .img {
        width: 85%;
    }
    .method.sponsor .img {
        margin-top: 20px;
    }
    .bank-number h3 {
        font-size: 1.15em;
    }
    .method.banks .bank-number p {
        font-size: 1.2em;
    }
    .bank .type {
        font-size: 0.9em;
    }
    .bank img {
        width: 170px;
    }
    .method.product a,
    .method.sponsor a {
        font-size: 1.1em;
    }
    .select-group .form-control.input-subject:first-child,
    .card-group .form-control.input-month,
    .card-group .form-control.input-year {
        margin-right: 10px;
    }
    .info-ccv span {
        top: -53px;
        right: -33px;
    }
    .total-frequency {
        font-size: 0.95em;
    }
    .total-amount,
    .total-currency {
        font-size: 1.9em;
    }
    .why-donate {
        padding-bottom: 200px;
    }
    .why-h3 {
        font-size: 2.2em;
        width: 60%;
    }
    .input-terms p {
        line-height: 1.5;
    }
    .why-card-share h3 {
        font-size: 1.8em;
    }
    .why-card-img {
        object-position: center;
        height: 550px;
        background-repeat: no-repeat;
    }
    .why-card-img:after {
        height: 350px;
    }
    .why-card-share p {
        font-size: 1.2em;
        width: 60%;
    }
    .share-donate {
        font-size: 1.1em;
        border-radius: 10px;
    }
}

@media screen and (min-width:1000px) {
    .donate-paypal a:hover {
        background: #f8c54e;
    }
    .share {
        padding-top: 110px;
    }
    .why-h3 {
        width: 50%;
    }
    .why-card-share h3 {
        font-size: 1.9em;
    }
    .why-card-share span {
        font-size: 2.5em;
    }
    .why-card-share p {
        margin: 12px auto;
        font-size: 1.3em;
    }
    .why-card-share .share-social {
        margin-top: -20px;
    }
    .banner {
        top: 0;
        width: 100%;
        min-height: 90vh;
    }
    .banner-title {
        margin-top: -200px;
    }
    .banner-h1 {
        font-size: 4.3em;
    }
    .banner-h2 {
        font-size: 1.8em;
    }
    .methods {
        margin-top: 0;
        display: flex;
        justify-content: end;
        padding-top: 90px;
        width: 90%;
        margin: auto;
        padding-bottom: 100px;
        max-width: 1000px;
    }
    .methods-container {
        margin: 0;
        max-width: 47%;
    }
    .method {
        padding: 27px;
    }
    .method .form-control small {
        font-size: 0.7em;
    }
    .form-control.input-radio .radio-label,
    .step .back {
        cursor: pointer;
    }
    .banner-content {
        opacity: 1 !important;
        align-items: flex-start;
        width: 90%;
        left: 50%;
        max-width: 930px;
        transform: translateX(-50%);
        max-height: 680px;
    }
    .banner-title {
        align-items: flex-start;
        font-size: 0.9em;
    }
    .banner-h1 span,
    .banner-h2 {
        text-align: left;
    }
    .banner-division,
    .banner-h2 {
        width: 85%;
        margin: 0;
    }
    .banner-division {
        margin: 15px 0;
    }
    .method .content .paragraph {
        font-size: 1em;
        margin-top: 10px;
    }
    .method .title {
        font-size: 1.1em;
    }
    .method.credit-card .cards img {
        max-width: 45px;
    }
    .method.credit-card .form {
        width: 100%;
    }
    .form-control.input-radio {
        gap: 10px;
    }
    .method.credit-card .form button {
        padding: 14px;
        font-size: 1em;
    }
    .method.credit-card .back {
        font-size: 0.95em;
    }
    .method.product a:hover,
    .method.sponsor a:hover {
        opacity: 0.85;
    }
    .bank a {
        width: 100%;
        margin-bottom: 20px;
        padding: 25px;
        transition: 0.2s ease;
    }
    .bank a:hover {
        box-shadow: 6px 10px 20px -6px rgb(0 0 0 / 20%);
    }
    .bank .type {
        font-size: 0.95em;
    }
    /* .why-donate::after {
        top: -229px;
        height: 230px;
    } */
    .why-card-img {
        margin-top: -200px;
    }
    .share-donate {
        font-size: 1.25em;
        margin-top: 25px;
    }
    .share-donate:hover {
        background: #89bde8;
    }
}

@media screen and (min-width:1300px) {
    .why-card-img {
        margin-top: -250px;
        height: 700px;
    }
    .why-card-img:after {
        height: 450px;
    }
    .share {
        padding-top: 100px;
    }
    .banner-h2 {
        font-weight: 700;
        font-size: 1.7em;
    }
    .banner-title {
        font-size: 1.25em;
        margin-top: -70px;
    }
    .banner-video img {
        height: 100vh;
        max-height: 1000px;
    }
    .methods {
        width: 85%;
        max-width: 1150px;
        padding-top: 100px;
    }
    .method .form-control label {
        font-size: 0.85em;
    }
    .current-info p {
        font-size: 0.75em;
    }
    .small-card {
        top: 30px;
    }
    .safe {
        font-size: 0.85em;
    }
    .methods-container {
        max-width: 42%;
    }
    .form-control.input-radio .radio-label {
        height: 100px;
    }
    .banner-content {
        max-width: 1200px;
    }
    .banner-division {
        width: 75%;
    }
    .why-donate {
        margin-top: 180px;
        padding-top: 130px;
        padding-bottom: 300px;
    }
    .why-h3 {
        font-size: 3em;
        margin-top: 120px;
        margin-bottom: 40px;
        border-bottom: 4px solid #e6e6e6;
    }
    .why-card-share p {
        font-size: 1.5em;
        max-width: 600px;
    }
    .why-card-share h3 {
        font-size: 2.1em;
    }
    .why-card-share span {
        font-size: 3.2em;
    }
    .share-donate {
        padding: 12px 25px;
    }
}