:root {
    --grisoscuro: #0f0f0f;
    --naranja: #ff4000;
    --naranja-oscuro: #ff2e1b;
    --celeste-claro: #008cff;
    --celeste-oscuro: #1c3dff;
    --blanco-hueso: #f4f4f4;
}


/********************************/

main {
    overflow: hidden;
    margin-top: 0;
    margin-bottom: -50px;
}

.header-container-donate {
    opacity: 0 !important;
    pointer-events: none !important;
    transition: 0.2s ease;
}

.header-donate-active {
    opacity: 1 !important;
    pointer-events: auto !important;
    transition: 0.2s ease;
}

.banner {
    position: relative;
}

.banner-container-video {
    margin-bottom: -60px;
    background: var(--grisoscuro);
}

.banner-container-video video {
    height: 550px;
    object-fit: cover;
    object-position: center;
    z-index: 20;
}

.banner-container-video::after {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 550px;
    width: 100%;
    z-index: 30;
}

.banner-container-content {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container-content h1 {
    color: var(--blanco-hueso);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    margin: auto;
    line-height: 1.2;
    text-align: center;
}

.banner-container-content h1 span {
    display: block;
}

.banner-container-content h1 span:first-child {
    font-size: 0.45em;
    font-weight: 400;
    margin-bottom: 5px;
}

.banner-container-content h1 span:nth-child(2),
.banner-container-content h1 span:nth-child(3),
.banner-container-content h1 span:nth-child(4) {
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: 800;
}

.banner-container-content h1 span:last-child {
    font-size: 0.4em;
    text-transform: none;
    font-weight: 300;
    display: inline-block;
    background: rgba(27, 27, 27, 0.481);
    border-radius: 10px;
    padding: 5px 10px;
}

.banner-waves {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    margin-bottom: -18px;
}

.banner-wave {
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 100;
    transform: rotate(180deg);
}

.banner-wave-two {
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 90;
    opacity: 0.3;
    transform: rotate(180deg);
}


/********************************/

.sponsors-container {
    background: #fff;
    padding: 15px;
    padding-top: 25px;
    position: relative;
    z-index: 400;
}

.swiper-container-sponsors .swiper-slide {
    width: 60px;
    height: 60px;
    filter: saturate(0) contrast(0.7) grayscale(2);
}

.swiper-container-sponsors a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.swiper-container-sponsors a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/********************************/

.help {
    padding-bottom: 150px;
    padding-top: 30px;
}

.help-description p {
    margin-top: 15px;
    display: block;
}

.help-description p span {
    display: block;
    width: 90%;
    margin: auto;
    background: #eee;
    color: rgb(90, 90, 90);
    border-radius: 7px;
    margin-top: 15px;
    padding: 7px 5px;
    font-size: 0.75em;
    font-weight: 500;
    max-width: 280px;
    line-height: 16px;
}

.help-description p span img {
    display: inline-block;
    width: 15px;
    margin-left: 3px;
}

.help-description {
    margin: 20px 0;
}


/********************************/

.proyects {
    padding-top: 60px;
    padding-bottom: 130px;
    background: var(--blanco-hueso);
}


/********************************/


/********************************/

.about {
    padding-top: 130px;
    padding-bottom: 150px;
    background: var(--grisoscuro);
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-us-container {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-us-container p {
    line-height: 1.1;
    width: 100%;
    margin: 0;
}

.about-us-container p span {
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    position: relative;
}

.about-us-container .first {
    font-size: 2.2em;
}

.about-us-container .second {
    font-size: 2.2em;
}

.about-us-container .third {
    font-size: 1.5em;
    font-weight: 700;
}

.about-us-container .four {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 5px;
    margin-top: 7px;
}

.about-us-container p .icon {
    font-size: 5em;
    margin-bottom: 10px;
}

.about-us-container p .iconH {
    margin: 0;
    font-size: 3.4em;
    margin-bottom: -13%;
    color: var(--naranja-oscuro);
    animation: heart 1.5s infinite ease-in;
}

.about-us-container .intersection {
    width: 90%;
    height: 4px;
    background: rgba(255, 255, 255, 0.152);
    border-radius: 50px;
    margin: 7px 0;
}

.ods {
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us-ods {
    border-radius: 20px;
    color: #fff;
    background: #161616;
    margin-bottom: 20px;
    height: 200px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.75em;
    max-width: 350px;
    font-weight: 500;
    position: relative;
}

.about-us-ods span:first-child::before {
    content: "+";
    font-size: 0.7em;
    z-index: 200;
    font-weight: 500;
    margin-right: 5px;
    position: relative;
    color: var(--celeste-claro);
}

.about-us-ods span:first-child {
    font-weight: 700;
    font-size: 2.3em;
    z-index: 200;
    position: relative;
}

.about-us-ods span:nth-child(2),
.about-us-ods span:last-child {
    font-size: 0.9em;
    font-weight: 400;
}

.about .division-back {
    background: #fff;
}

.about .division .icon {
    background: var(--grisoscuro);
    color: #fff;
}

.about-personal-proyects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

.personal-card {
    border-radius: 15px;
    width: 90%;
    margin: auto;
    padding: 20px;
    padding-top: 30px;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.personal-card img {
    width: 170px;
}

.personal-card p {
    font-size: 1em;
    opacity: 0.7;
    margin-bottom: 15px;
}

.personal-card p span {
    display: block;
}

.about-us-musik {
    background: url(../img/background-music.jpg);
    background-size: cover;
    background-position: center;
}

.about-us-church {
    background: url(../img/background-church.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 25px -4px rgba(255, 255, 255, 0.2);
}

.about-us-church p {
    color: var(--blanco-hueso);
    font-weight: 400;
}

.about-blog {
    padding-top: 100px;
    padding-bottom: 150px;
}


/********************************/

.faq {
    padding-top: 100px;
    padding-bottom: 130px;
    background: var(--blanco-hueso);
}

.faq-container .more {
    margin-top: 25px;
}


/********************************/

.contact {
    padding-top: 70px;
    padding-bottom: 200px;
    background: var(--blanco-hueso);
}

.contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/********************************/


/********************************/


/********************************/


/********************************/

@media screen and (min-width:375px) {
    .banner-container-video video {
        height: 650px;
    }
    .banner-container-video::after {
        height: 650px;
    }
    .banner-container-content {
        height: 650px;
        font-size: 1.2em;
    }
    .help-description p {
        padding: 0px;
    }
    .about-us-church img:last-child {
        object-fit: cover;
    }
}

@media screen and (min-width:425px) {
    .banner-container-content {
        font-size: 1.3em;
    }
}

@media screen and (min-width:768px) {
    .banner-container-content {
        font-size: 1.6em;
        height: 700px;
    }
    .help-description p span {
        font-size: 0.7em;
        max-width: 350px;
    }
    .banner-container-video video,
    .banner-container-video::after {
        height: 700px;
    }
    .help,
    .proyects,
    .about {
        padding-bottom: 200px;
    }
    .sponsors-container:after {
        content: "";
        width: 11vw;
        height: 100%;
        background: linear-gradient(to left, #ffffff, #ffffff00);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 600;
    }
    .sponsors-container:before {
        content: "";
        width: 11vw;
        height: 100%;
        background: linear-gradient(to right, #ffffff, #ffffff00);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 600;
    }
    .about-blog {
        padding-bottom: 200px;
    }
    .contact-title h2~p {
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .ods {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1300px;
        width: 90%;
        margin: auto;
        margin-top: 55px;
        padding-bottom: 20px;
    }
    .ods>div {
        max-width: 49%;
        width: 32%;
        font-size: 1.5em;
    }
    .about-us-container .first {
        font-size: 3em;
    }
    .about-us-container .second {
        font-size: 3.5em;
    }
    .about-us-container .third {
        font-size: 2em;
        font-weight: 700;
    }
    .about-us-container .four {
        font-size: 1em;
        letter-spacing: 9px;
    }
    .about-us-container p .icon {
        font-size: 5em;
        margin-bottom: 10px;
    }
    .about-us-container p .iconH {
        margin: 0;
        font-size: 3em;
        margin-bottom: -40px;
        color: var(--naranja-oscuro);
        animation: heart 1s infinite ease-in;
    }
    .about-personal-proyects {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1300px;
        width: 90%;
        margin: auto;
    }
    .about-personal-proyects .personal-card {
        width: 49%;
        max-width: 49%;
        margin: 0;
    }
    .personal-card .more a {
        font-size: 0.8em;
        padding: 6px 20px;
    }
    .faq {
        padding-bottom: 150px;
    }
    .faq h2 {
        font-size: 3.9em;
    }
    .contact {
        padding-bottom: 130px;
    }
}

@media screen and (min-width:1000px) {
    .content-container {
        margin-top: -35px;
    }
    .about-personal-proyects .more-circle {
        font-size: 1em;
    }
    .banner-container-content {
        font-size: 1.4em;
    }
    .banner-container-content h1 span:nth-child(2),
    .banner-container-content h1 span:nth-child(3) {
        display: inline-block;
        margin-bottom: -10px;
    }
    .banner-container-content h1 span:first-child {
        font-size: 0.55em;
    }
    .banner-container-content h1 span:last-child {
        font-size: 0.35em;
        display: inline-block;
        transform: translateY(-10px);
    }
    .banner-waves div {
        height: 130px !important;
        margin-bottom: -30px;
        margin-top: -105px;
    }
    .banner-wave {
        top: -20px;
    }
    .banner-wave-two {
        top: -60px;
    }
    .banner-container-video video {
        max-height: 800px;
    }
    .banner-container-video::after {
        max-height: 720px;
        background: rgba(0, 0, 0, 0.3);
    }
    .swiper-container-sponsors {
        padding: 10px;
        margin-top: -5px;
    }
    .swiper-container-sponsors .swiper-slide:hover {
        filter: grayscale(0);
    }
    .help {
        padding-bottom: 180px;
    }
    .help-description p span {
        padding: 10px;
        max-width: 430px;
    }
    .help-description p span img {
        width: 20px;
    }
    .proyects {
        padding-bottom: 250px;
    }
    .proyects .more {
        margin-top: -20px;
    }
    .contact-title h2~p {
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .about {
        padding-bottom: 250px;
    }
    .about-us-container .first {
        font-size: 3.8em;
    }
    .about-us-container .second {
        font-size: 4.9em;
    }
    .about-us-container .third {
        font-size: 2.6em;
    }
    .about-us-container .four {
        font-size: 1.2em;
    }
    .about-us-container p .icon {
        font-size: 5.7em;
        margin-bottom: 10px;
    }
    .about-us-container p .iconH {
        margin: 0;
        font-size: 4em;
        margin-bottom: -50px;
    }
    .about-us .more .more-circle {
        font-size: 1.5em;
    }
    .about-personal-proyects {
        width: 90%;
        max-width: 1300px;
    }
    .personal-card {
        height: 540px;
    }
    .personal-card img {
        width: 190px;
        margin-bottom: 5px;
    }
    .personal-card .more a {
        font-size: 1em;
    }
    .ods>div {
        font-size: 1.8em;
    }
    .about-us-church p {
        font-size: 1em;
        font-weight: 500;
    }
    .about-blog {
        padding-bottom: 230px;
        padding-top: 100px;
    }
    .contact h2~p {
        margin-top: 7px;
    }
}

@media screen and (min-width:1250px) {
    .banner-container-video video,
    .banner-container-video::after {
        height: 720px;
    }
    .about-personal-proyects .more a {
        font-size: 1.3em;
    }
    .banner-container-content {
        font-size: 1.7em;
    }
    .swiper-container-sponsors .swiper-slide {
        width: 70px;
        height: 70px;
    }
    .help {
        padding-bottom: 220px;
    }
    .about-us-container .first {
        font-size: 4em;
        margin-bottom: -5px;
    }
    .about-us-container .second {
        font-size: 5.4em;
    }
    .about-us-container .third {
        font-size: 3em;
    }
    .about-us-container .four {
        font-size: 1.4em;
    }
    .about-us-container p .icon {
        font-size: 6em;
        margin-bottom: 10px;
    }
    .about-us-container p .iconH {
        margin: 0;
        font-size: 4.5em;
        margin-bottom: -50px;
    }
    .about-personal-proyects .personal-card {
        height: 680px;
        padding-top: 45px;
    }
    .personal-card img {
        width: 230px;
    }
    .personal-card p {
        font-size: 1.3em;
        margin-bottom: 20px;
    }
    .ods>div {
        font-size: 2.2em;
        height: 250px;
    }
    .about {
        padding-top: 100px;
        padding-bottom: 290px;
    }
    .faq,
    .contact {
        padding-bottom: 200px;
    }
}

@media screen and (min-width:1850px) {
    .banner-container-video video,
    .banner-container-video::after {
        height: 900px;
        max-height: 900px;
    }
    .banner-container-content {
        top: 80px;
        font-size: 2.2em;
    }
    .about-personal-proyects .personal-card {
        margin-top: 50px;
    }
    .banner-waves {
        margin-top: -140px;
    }
    .banner-waves div {
        height: 150px !important;
    }
    .swiper-container-sponsors {
        margin-top: -30px;
        margin-bottom: 20px;
    }
    .proyects,
    .help {
        padding-bottom: 300px;
    }
    .about {
        padding-bottom: 350px;
    }
    .about-us-container .first {
        font-size: 5em;
    }
    .about-us-container .second {
        font-size: 6em;
    }
    .about-us-container .third {
        font-size: 3em;
    }
    .about-us-container .four {
        font-size: 1.4em;
        margin-top: 10px;
    }
    .about-us-container p .icon {
        font-size: 5em;
        margin-bottom: 10px;
    }
    .about-us-container p .iconH {
        margin: 0;
        font-size: 3.4em;
        margin-bottom: -13%;
        color: var(--naranja-oscuro);
        animation: heart 1s infinite ease-in;
    }
    .about-us .more a {
        padding: 15px 35px;
        border-radius: 20px;
    }
    .about-us-container p .icon {
        font-size: 7em;
        margin-bottom: 10px;
    }
    .about-us-container p .iconH {
        margin: 0;
        font-size: 5em;
        margin-bottom: -50px;
    }
    .about-personal-proyects .personal-card {
        height: 700px;
    }
    .faq {
        padding-bottom: 280px;
    }
}


/********************************/


/********************************/