:root {
    --grisoscuro: #070707;
    --naranja: #ff4000;
    --naranja-oscuro: #ff2e1b;
    --celeste-claro: #008cff;
    --celeste-oscuro: #1c3dff;
    --blanco-hueso: #f4f4f4;
}

main.allSponsors {
    background: var(--blanco-hueso);
}

section.banner h1~p {
    width: 90%;
}

.banner {
    margin-top: 70px;
    padding-bottom: 100px;
    overflow: hidden;
}

.banner .h1,
.banner-title p {
    opacity: 0;
    animation: opacity 1s ease forwards;
}

.banner-title p span {
    display: block;
}

.show-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.show-form p {
    opacity: 0;
    animation: opacity 0.6s 0.7s ease forwards;
    display: inline-block;
    margin: 0;
    width: auto;
    border-radius: 10px;
    text-align: center;
    color: var(--blanco-hueso);
    padding: 7px 20px;
    font-size: 0.85em;
    background: var(--celeste-oscuro);
    transition: 0.1s ease;
    z-index: 500;
}

.show-form .icon {
    font-size: 0.9em;
    margin-left: 5px;
    transition: 0.35s ease;
    /* transition: 1s cubic-bezier(0.54, -0.01, 0, 0.99); */
}

.show-form p:active {
    transform: scale(0.98);
}

.banner-img {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;
    transition: 0.3s ease;
}

.banner-img .banner-img-sponsors {
    transform: scale(1.5);
    opacity: 0;
    animation: opacity 1s 0.3s ease forwards;
}

.banner.active .banner-img {
    opacity: 0;
}

.banner.active .show-form p .icon {
    transform: rotate(-45deg);
}

.banner .form {
    padding: 0;
    height: 0px;
    overflow: hidden;
    width: 93%;
}

.banner .form>div {
    opacity: 0;
    transition: all 0.3s ease;
}

.banner.active .form {
    height: auto;
    overflow: visible;
    max-height: 1500px;
    margin-top: -220px;
    margin-bottom: 35px;
}

.banner.active .form>div {
    opacity: 1;
}

.banner .form-container {
    background: var(--blanco-hueso);
    border-radius: 15px;
    padding: 25px 15px;
    max-width: 550px;
    margin: auto;
    margin-top: 40px;
}

.banner .sponsors-info p {
    font-size: 0.7em;
    opacity: 0.7;
    font-weight: 500;
    width: 100%;
    margin: 0;
    margin-top: 12px;
}

.banner .sponsors-info .icon {
    opacity: 0.7;
    font-size: 0.9em;
}


/* 
.steps-container {
    margin-top: 10px;
}

.step-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

.step-number {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    position: relative;
    opacity: 0.3;
}

.step-number.active {
    opacity: 1;
}

.step-content {
    display: flex;
    position: relative;
    height: 500px;
    margin-top: 20px;
}

.step {
    width: 100%;
    position: absolute;
    background: #f8f8f8;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    z-index: 0;
}

.step.active {
    z-index: 1000;
    opacity: 1;
    pointer-events: auto;
    animation: ShowUp 0.4s ease forwards;
}

.step-number>b {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 50%;
    background: var(--celeste-claro);
    color: var(--blanco-hueso);
    font-weight: 600;
}

.step-number span {
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.3;
}

.step .back {
    text-align: left;
    text-decoration: 1px var(--celeste-claro);
    color: var(--celeste-claro);
    font-size: 0.9em;
    display: block;
    margin-bottom: 30px;
    margin-top: 0;
    display: inline-block;
    width: auto;
    transition: 0.1s ease;
}

.step .back .icon {
    font-size: 0.8em;
    transition: 0.2s ease;
}

.step .back:active {
    transform: scale(0.98);
} */

.form-control.subject-kind {
    margin-top: -10px;
    margin-bottom: 0;
}

.form-control.subject-kind {
    display: none;
}

.form-control.subject-kind.active {
    display: block;
}

.form-control.subject-kind .inputIcon {
    top: 14px;
}

.banner .form button {
    margin-top: 15px;
}

.banner .form-control.input-rep-id .inputIcon {
    bottom: 30px;
    top: auto;
}

.benefits {
    position: relative;
}

.benefits-container {
    width: 87%;
    margin: auto;
    margin-top: 45px;
}

.benefit {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 25px;
    border-radius: 8px;
    max-width: 345px;
}

.benefit h3 {
    font-size: 1.15em;
    font-weight: 600;
}

.benefit p {
    display: block;
    font-weight: 500;
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 0.85em;
    margin-top: 5px;
    opacity: 0.8;
    line-height: 1.6;
}

.benefit-icon {
    margin-right: 15px;
    min-width: 45px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35c23a20;
}

.benefit-icon .icon {
    color: #35c23a;
    font-size: 1.6em;
}

.sponsors-cards {
    background: var(--blanco-hueso);
    padding-top: 80px;
    padding-bottom: 220px;
    margin-bottom: -180px;
}

.sponsors-container {
    width: 90%;
    margin: auto;
    max-width: 450px;
    margin-top: 50px;
}

.sponsors-container.allSponsors {
    margin-top: 35px;
}

.sponsors-card {
    margin-bottom: 25px;
    position: relative;
    border-radius: 15px;
    background: #fff;
    transition: box-shadow 0.6s ease;
}

.sponsors-card a {
    color: var(--grisoscuro);
    text-decoration: none;
}

.sponsors-img {
    position: relative;
    overflow: hidden;
}

.sponsors-img .sponsors-logo {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 15px;
    padding: 7px;
    width: 60px;
    height: 60px;
    z-index: 500;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.5);
}

.sponsors-img .sponsors-logo img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    border-radius: 0;
}

.sponsors-img svg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 110px;
    width: 100%;
    filter: drop-shadow(2px -2px 15px rgba(0, 0, 0, 0.7));
}

.sponsors-img img {
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.sponsors-des {
    margin-top: -25px;
    padding: 20px;
    position: relative;
    z-index: 300;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sponsors-des h3 {
    font-size: 1.4em;
}

.sponsors-des p {
    text-align: left;
    width: 100%;
    font-size: 0.9em;
    opacity: 0.7;
    line-height: 1.7;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.sponsors-card .icon {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 7px;
    padding-left: 9px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    bottom: 10px;
    right: 10px;
    z-index: 600;
}

.sponsors-card.reserved {
    justify-content: center;
    padding: 40px;
    background: #fff;
}

.sponsors-card.reserved {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.sponsors-card.reserved div {
    border-radius: 50%;
    border: 5px dashed rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transition: 0.3s ease;
}

.sponsors-card.reserved .icon {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    height: 130px;
    width: 130px;
    background: none;
    color: rgba(0, 0, 0, 0.2);
    padding: 0;
    padding: 30px;
}

.sponsors-card.reserved p {
    color: rgba(0, 0, 0, 0.5);
}

.sponsors-card.reserved p span {
    display: block;
}

.all {
    height: 171px;
    background: linear-gradient(to top, var(--blanco-hueso), #f6f6f600);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -171px;
    z-index: 500;
    position: absolute;
    bottom: 1550px;
    left: 0;
    padding-bottom: 40px;
    width: 100%;
}

.all:after {
    background: var(--blanco-hueso);
    bottom: -1300px;
    height: 1300px;
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    z-index: 500;
}

.all .more {
    margin-bottom: -90px;
    z-index: 600;
}

.related {
    background: var(--blanco-hueso);
    padding-bottom: 180px;
    margin-bottom: -80px;
    margin-top: -1200px;
    z-index: 600;
    position: relative;
}

.related .news-main {
    padding-top: 0;
}

.help-sponsors {
    margin-top: 50px;
    margin-bottom: -55px;
    background: #000;
    position: relative;
}

.help-sponsors:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    background: linear-gradient(to bottom, #000, #00000000);
    height: 100%;
    width: 100%;
}

.help-sponsors img {
    height: 630px;
    margin-top: 50px;
    opacity: 0.8;
    object-fit: cover;
    object-position: 25%;
}

.help-sponsors .section-waves {
    bottom: auto;
    top: -1px;
}

.help-sponsors-title {
    position: absolute;
    top: 46%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1000;
}

.help-sponsors-title h2,
.help-sponsors-title p {
    color: #fff;
}

.help-sponsors-title p {
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 15px;
    text-shadow: 3px 3px 8px #000;
}

.help-sponsors-title h2 span,
.help-sponsors-title p span {
    display: block;
}

.banner-container-button {
    margin-top: 20px;
}

@media screen and (min-width:760px) {
    .banner {
        padding-bottom: 130px;
    }
    .banner-title .h1~p {
        width: 80%;
        font-size: 1.1em;
    }
    .h1.allSponsors {
        width: 90%;
        margin: auto;
    }
    .sponsors-cards.allSponsors {
        padding-top: 100px;
    }
    .banner-img .banner-img-sponsors {
        transform: scale(1.15);
    }
    .banner-img {
        margin-top: 40px;
        max-width: 1300px;
    }
    .banner.active .form {
        margin-top: -320px;
        margin-bottom: 80px;
    }
    .banner .form button {
        width: 100%;
        max-width: 100%;
        padding: 13px;
    }
    .banner .form-container {
        padding: 25px;
    }
    .banner .sponsors-info {
        width: 80%;
        margin: auto;
    }
    .step-title {
        max-width: 80%;
    }
    .step {
        padding: 25px;
    }
    .step-number>b {
        width: 45px;
        height: 45px;
        font-size: 1.3em;
    }
    .step-number span {
        font-size: 1em;
    }
    .benefits-container {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 45px;
    }
    .benefit {
        margin-bottom: 35px;
    }
    .benefit-icon {
        min-width: 50px;
        height: 50px;
        font-size: 1.1em;
    }
    .benefit h3 {
        font-size: 1.2em;
    }
    .benefit p {
        font-size: 0.9em;
    }
    .sponsors-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        position: relative;
        max-width: 90%;
        margin-top: 40px;
    }
    .all {
        bottom: 930px;
        width: 100%;
    }
    .related {
        margin-top: -790px;
        padding-bottom: 200px;
    }
    .related .news-main {
        padding-top: 40px;
    }
    .sponsors-card {
        margin: 0;
    }
    .help-sponsors img {
        height: 730px;
    }
    .help-sponsors-title p {
        width: 75%;
        font-size: 1.2em;
    }
    .banner-container-button a {
        font-size: 1.1em;
    }
}

@media screen and (min-width:1000px) {
    .banner.active .form {
        margin-bottom: 150px;
    }
    .banner-title .h1~p {
        font-size: 1.3em;
    }
    .banner-img .banner-img-sponsors {
        transform: scale(1);
    }
    .show-form p {
        margin-top: 5px;
        font-size: 1em;
        cursor: pointer;
    }
    .show-form p:hover {
        opacity: 0.8 !important;
    }
    .banner.active .form {
        margin-top: -390px;
    }
    .banner-img {
        margin-top: 10px;
    }
    .banner .form {
        width: 90%;
    }
    .banner .form-container {
        margin-top: 0;
    }
    .step-number span {
        font-size: 0.8em;
    }
    .step .back {
        cursor: pointer;
        font-size: 1em;
    }
    .step .back:hover .icon {
        transform: translateX(-3px);
    }
    .benefits-container {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        padding: 0;
    }
    .benefit {
        border-radius: 10px;
        width: auto;
        max-width: 440px;
    }
    .sponsors-img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .sponsors-img img {
        transition: 0.5s ease;
    }
    .sponsors-card:hover .sponsors-img>img {
        transform: scale(1.05);
    }
    .sponsors-card .icon {
        width: 32px;
        height: 32px;
        transition: 0.3s ease;
    }
    .sponsors-card:hover .icon {
        background: rgba(0, 0, 0, 0.2);
    }
    .sponsors-card:hover {
        box-shadow: 4px 10px 40px -6px rgba(0, 0, 0, 0.1);
    }
    .sponsors-card.reserved:hover .icon {
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
    }
    .sponsors-card.reserved:hover div {
        transform: scale(1.1);
    }
    .sponsors-img img {
        height: 300px;
    }
    .sponsors-img svg {
        height: 130px;
    }
    .sponsors-des h3 {
        font-size: 1.6em;
    }
    .sponsors-des p {
        font-size: 1.1em;
    }
    .sponsors-card.reserved p {
        line-height: 1.6;
        font-size: 1.34em;
    }
    .all {
        bottom: 1045px;
    }
    .all .more {
        margin-bottom: -120px;
    }
    .all:after {
        background: var(--blanco-hueso);
        bottom: -1100px;
        height: 1100px;
    }
    .related {
        margin-top: -890px;
    }
    .help-sponsors img {
        height: 700px;
    }
    .help-sponsors-title p {
        width: 70%;
        font-weight: 600;
        font-size: 1.45em;
    }
    .banner-container-button a {
        font-size: 1.2em;
    }
    .banner-container-button a:hover .icon {
        animation: none;
    }
}

@media screen and (min-width:1300px) {
    .banner {
        padding-bottom: 100px;
    }
    .h1.allSponsors {
        width: 100%;
    }
    .sponsors-container.allSponsors {
        margin-top: 0;
    }
    .banner .form {
        padding: 25px;
    }
    .banner-title .h1~p {
        font-size: 1.75em;
        max-width: 1000px;
    }
    .banner-img svg {
        height: 480px;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.2));
    }
    .banner-title p {
        font-size: 1.2em;
    }
    .step-number>b {
        width: 55px;
        height: 55px;
        font-size: 1.5em;
    }
    .step-number span {
        font-size: 0.95em;
    }
    .banner.active .form {
        margin-top: -530px;
    }
    .banner .sponsors-info {
        width: 80%;
    }
    .banner .sponsors-info p {
        font-size: 0.8em;
    }
    .benefits-container {
        margin-top: 60px;
        max-width: 1400px;
    }
    .benefit {
        margin-right: 10px;
        max-width: 525px;
        margin-bottom: 45px;
    }
    .benefit h3 {
        font-size: 1.5em;
    }
    .benefit p {
        font-size: 1.2em;
    }
    .benefit-icon {
        min-width: 60px;
        height: 60px;
        font-size: 1.3em;
        margin-right: 20px;
    }
    .sponsors-cards {
        padding-top: 80px;
        padding-bottom: 250px;
    }
    .sponsors-container {
        grid-template-columns: repeat(12, 1fr);
        max-width: 1350px;
        width: 90%;
        padding-top: 40px;
    }
    .sponsors-des {
        font-size: 0.9em;
        padding: 25px;
    }
    .all {
        height: 230px;
        margin-bottom: -229px;
        bottom: 550px;
    }
    .related {
        margin-top: -370px;
        padding-bottom: 280px;
    }
    .sponsors-card:first-child .sponsors-logo,
    .sponsors-card:nth-child(2) .sponsors-logo {
        height: 80px;
        width: 80px;
    }
    .sponsors-card:first-child .sponsors-img>img,
    .sponsors-card:nth-child(2) .sponsors-img>img {
        height: 390px;
    }
    .sponsors-card:first-child .sponsors-img svg,
    .sponsors-card:nth-child(2) .sponsors-img svg {
        height: 150px;
    }
    .sponsors-card:first-child .sponsors-des,
    .sponsors-card:nth-child(2) .sponsors-des {
        font-size: 1.05em;
        padding: 30px;
        margin-top: -50px;
    }
    .sponsors-card:first-child {
        grid-column: 1 / 7;
    }
    .sponsors-card:nth-child(2) {
        grid-column: 7 / 13;
    }
    .sponsors-card:nth-child(3),
    .sponsors-card:nth-child(6),
    .sponsors-card:nth-child(9),
    .sponsors-card:nth-child(12) {
        grid-column: 1 / 5;
    }
    .sponsors-card:nth-child(4),
    .sponsors-card:nth-child(7),
    .sponsors-card:nth-child(10),
    .sponsors-card:nth-child(13) {
        grid-column: 5 / 9;
    }
    .sponsors-card:nth-child(5),
    .sponsors-card:nth-child(8),
    .sponsors-card:nth-child(11),
    .sponsors-card:nth-child(14) {
        grid-column: 9 / 13;
    }
    .help-sponsors-title p {
        max-width: 780px;
        font-size: 1.6em;
    }
    .banner-container-button a {
        font-size: 1.45em;
    }
    .help-sponsors img {
        height: 800px;
    }
}

@media screen and (min-width:1850px) {
    .banner {
        padding-bottom: 180px;
    }
    .sponsors-des h3 {
        font-size: 1.75em;
    }
    .sponsors-des p {
        font-size: 1.2em;
    }
}