:root {
    --grisoscuro: #070707;
    --naranja: #ff4000;
    --naranja-oscuro: #ff2e1b;
    --celeste-claro: #008cff;
    --celeste-oscuro: #1c3dff;
    --blanco-hueso: #f4f4f4;
}

main {
    margin-top: 45px;
    background: var(--blanco-hueso);
}

.banner {
    padding-top: 15px;
    padding-bottom: 180px;
    margin-bottom: -80px;
}

.banner-title {
    animation: opacity 1s ease forwards;
}

.news-main-container {
    opacity: 0;
    animation: opacity 1s 0.4s ease forwards;
}

.banner h1 {
    margin-bottom: 50px;
}

.filter {
    overflow: hidden;
    position: relative;
}

.filter-container {
    display: flex;
    align-items: center;
    padding-left: 5%;
    overflow: scroll;
}

.filter::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    z-index: 500;
    background: linear-gradient(to left, #f6f6f6, #f6f6f600);
    pointer-events: none;
}

.filter-card {
    margin-right: 10px;
    position: relative;
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px 14px;
    max-width: 300px;
    font-size: 0.9em;
    font-weight: 400;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s ease;
}

.filter-card:last-child {
    margin-right: 30px !important;
}

.filter-card.selected {
    background: linear-gradient(to right, var(--celeste-oscuro), var(--celeste-claro));
    color: #fff;
    border: 0;
}

.year {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    margin-top: -20px;
    margin-bottom: 20px;
}

.year a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-size: 0.9em;
    border-radius: 5px;
    background: #fff;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;
}

.year a h3 {
    font-weight: 400;
}

.year a.selected {
    color: #fff;
    background: linear-gradient(to right, var(--celeste-oscuro), var(--celeste-claro));
    opacity: 1;
    border: none;
}

.year a .icon {
    font-size: 0.9em;
    margin-left: 7px;
}

.filter-container {
    margin-bottom: 20px;
}

.filter h3 {
    padding-left: 5vw;
    margin-bottom: 10px;
    font-size: 1.4em;
}

@media screen and (min-width:760px) {
    .banner {
        padding-bottom: 200px;
    }
    .filter-container {
        justify-content: center;
        overflow: hidden;
        padding: 0;
    }
    .filter-container::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0px;
        height: 0%;
        z-index: 0;
        background: none;
    }
    .filter-card:last-child {
        margin-right: 0px !important;
    }
    .filter {
        margin-bottom: 40px;
    }
    .year {
        justify-content: center;
    }
}

@media screen and (min-width:1000px) {
    .filter-container,
    .filter {
        overflow: visible;
    }
    .filter {
        margin-bottom: 50px;
    }
    .filter-card {
        font-size: 1em;
        cursor: pointer;
        padding: 14px 20px;
        height: 35px;
        border-radius: 8px;
    }
    .filter-card:hover {
        box-shadow: 4px 10px 20px -6px rgba(0, 0, 0, 0.4);
    }
    .year a {
        font-size: 1em;
        border-radius: 8px;
        padding: 5px 20px;
        transition: 0.3s ease;
    }
    .year a:hover {
        box-shadow: 4px 10px 20px -6px rgba(0, 0, 0, 0.4);
    }
}

@media screen and (min-width:1300px) {
    .banner {
        padding-bottom: 300px;
    }
    .year a {
        font-size: 1.1em;
        padding: 7px 20px;
    }
    .filter-card {
        font-size: 1.2em;
        padding: 14px 25px;
        height: 40px;
        margin-right: 20px;
    }
    .filter {
        margin-bottom: 50px;
    }
}